*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg,
      hsl(204deg 7% 87%) 0%,
      hsl(206deg 38% 79%) 50%,
      hsl(208deg 53% 73%) 100%) fixed;
  overflow-x: hidden;
}

.wrapper {
  width: 200px;
  height: 200px;
  isolation: isolate;
}

.ball {
  display: inline-block;
  background-image: url(../images/basketball-1.png);
  width: 100%;
  height: 100%;
  background-size: 100%;
  position: relative;
  animation: bounce 2.3s linear infinite;

}

.ball::before {
  content: "";
  position: absolute;
  top: 36px;
  left: 38px;
  width: 62%;
  height: 62%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 10%,
      hsla(0, 70%, 87%, 0.501),
      hsla(0, 0%, 100%, 0) 50%);
  z-index: 2;
  filter: blur(20px);
}

.ball::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: radial-gradient(circle at 50% 30%,
      hsl(16deg 100% 62% / 0%),
      hsl(16deg 80% 41% / 20%) 50%,
      hsl(17deg 100% 21%) 100%);
  height: 133px;
  width: 133px;
}

.shadow {
  border-radius: 50%;
  width: 100px;
  height: 15px;
  background: hsla(208, 64%, 66%, 0.704);
  position: absolute;
  top: 610px;
  left: 50px;
  animation: shadow 2.3s linear infinite;
  transform: scale(0.7);
  filter: blur(4px);
  z-index: -1;
}

.shadow::after {
  content: "";
  position: absolute;
  inset: 0;
  background: hsl(208, 64%, 66%);
  border-radius: 50%;
  width: 50%;
  margin: auto;
  height: 50%;
}

@keyframes bounce {

  0% {
    transform: translate(0, 0) rotate(0deg);
  }

  25% {
    transform: translate(400px, 440px) rotate(90deg);
  }

  50% {
    transform: translate(700px, -50px) rotate(180deg);
  }

  75% {
    transform: translate(1000px, 440px) rotate(220deg);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translate(1500px, 140px) rotate(360deg);
  }
}

@keyframes shadow {
  0% {
    transform: translatex(0) scale(0);
    opacity: 0;
  }

  25% {
    background: hsl(208, 65%, 63%);
    transform: translatex(400px) scale(1.5);
    opacity: 1;
  }

  50% {
    transform: translatex(700px) scale(0.5);
    opacity: 0;
  }

  75% {
    background: hsla(208, 64%, 66%, 0.704);
    transform: translatex(1000px) scale(1.5);
    opacity: 1;
  }

  100% {
    transform: translatex(1400px) scale(0.3);
  }
}